.input {
  background-color: var(--input-background);
  border: none;
  outline: none;
  border-radius: 500px;

  color: var(--input-color) #fff;
  height: 48px;
  padding: 6px 36px;
  text-overflow: ellipsis;
  width: 100%;
}

.input:hover {
  background-color: var(--input-background-hover);
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.2);
}

.input:focus {
  box-shadow: 0 0 0 2px var(--input-border);
}

.input:active {
  box-shadow: 0 0 0 2px var(--input-border);
}

.formcontroll {
  margin-bottom: 20px;
  flex: 1;
}
