*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  background: none;
  border-radius: 3px;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}
